// Run Sass: sass --watch ./src/App.scss ./src/App.css

.App {
    background-image: url('./images/background.jpg');
    padding-bottom: 10%;
}
  
.Nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 0%;

    h1 {
        font-weight: 400;
        padding: 0% 4%;
        border-right: 1px solid white;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
  
.Card {
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background: rgba(216.0, 216.0, 216.0, 0.25);

    .card-title {
        color: white;
        font-family: 'Lato', 'Sans Serif';
        font-size: 72px;
        margin-top: 2%;
    }

    .photo-date {
        color: white;
        font-family: 'Lato', 'Sans Serif';
        font-size: 18px;
    }

    .photo {
        width: 70%;
        margin: 5%;
    }

    .photo-title {
        color: white;
        font-family: 'Lato', 'Sans Serif';
        font-size: 36px;
    }

    .photo-explaination {
        color: white;
        font-family: 'Lato', 'Sans Serif';
        font-size: 24px;
        margin: 5%;
    }
}
